{% extends 'base.html' %}

{% block content %}
    <div class="main-section">
        <div class="container">
            <h1 class="section-title"><b>Category: </b>{{ category }}</h1>
            <div class="services__cards">
                {% for product in products %}
                <div class="service-card">
                <a href="{% url 'product_info' product.pk %}">
                    <img src="{{ product.photo_image.url }}" alt="{{product.model}}">
                </a>
                    {{product.name | title}} ({{ product.phone_model }})
                </div>
                {% endfor %}
                
            </div>
           <div class="go-back">
                <a href="{% url 'home' %}"><< ortga</a>
           </div>
        </div>
    </div>
{% endblock %}